* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    min-height: 100vh;
    color: darkblue;
}
main {
    flex: 1 0 auto;
    margin: 2rem 0;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
    background-color: #eeeeee;
    position: sticky;
    top: 0;
    z-index: 10;
    color: darkblue;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.home {
    margin-left: auto;
    font-weight: 100;
    font-size: 1.5rem;
}
h1 {
    font-size: 2rem;
    font-weight: 100;
    color: darkblue;
    margin: 1rem;
}
h2 {
    font-weight: 100;
    margin: 1rem auto;
    text-transform: capitalize;
}
.library {
    display: block;
}
.addBtn {
    position: relative;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    outline: none;
    border: 2px solid darkblue;
    color: darkblue;
    background-color: #ffffff;
}
.addBtn:hover {
    color: #ffffff;
    background-color: darkblue;
}
.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
input {
    width: 35rem;
    max-width: 80%;
    margin: 5px auto;
    height: 2rem;
    padding: 0.5rem 0.4rem;
    border: 2px solid darkblue;
    font-size: 1.1rem;
}
.errorInput {
    border: 2px solid red;
}
.errorTitle, .errorAuthor, .errorPage {
    color: red;
    margin: 0.1rem;
    padding: 0.5rem;
    text-emphasis: center;
    font-size: 0.9rem;
}
.btns {
    margin: 1rem auto;
}
.cancelBtn {
    position: relative;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    outline: none;
    border: 2px solid red;
    color: red;
    background-color: transparent;
}
.cancelBtn:hover {
    color: #ffffff;
    background-color: red;
}
.addBookBtn {
    position: relative;
    font-size: 1.2rem;
    padding: 0.3rem 1.8rem;
    outline: none;
    border: 2px solid green;
    color: green;
    background-color: transparent;
}
.addBookBtn:hover {
    color: #ffffff;
    background-color: green;
}
.hide {
    display: none;
}
.show {
    display: block;
}
footer {
    display: flex;
    padding: 1.5rem;
    color: darkblue;
}
